<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<table>
    <thead>
        <tr>
            <th th:text="#{msgs.headers.id}">ID-TEST</th>
            <th th:text="#{msgs.headers.name}">Name-TEST</th>
            <th th:text="#{msgs.headers.email}">Email-Test</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.name}">ID</td>
            <td th:text="${user.email}">ID</td>
        </tr>
        <tr>
            <td colspan="3"><a th:href="@{/input}" th:text="#{form.addUser}">add</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>